$font-family: 'Heebo', sans-serif;
$max-width: 858px;
$header-height: 50px;
$header-height-desktop: 90px;
$offset: 22px;
$finger-size: 46px;
$border-radius: 2px;
$border-radius-card: 4px;
$color-primary: #FF6464;
$color-light-blue: #EDF7FA;
$color-blue-link: #00A8CC;
$color-black: #21243D;
$color-light: #8695A4;
$offset-top-bottom: 22px;
