<div class="featured-card-content-detail">
	<div class="featured-card-content-detail-date featured-card-content-detail-info">{{date}}</div>
	<a href="work-list.html" class="featured-card-content-detail-title featured-card-content-detail-info">{{category}}</a>
</div>