<article class="blog-card">
	<a href="blog-detail.html" title="Making a design system from scratch" class="blog-card-title">Making a design system from scratch</a>
	<div class="blog-card-type">
		<time class="blog-card-type-item">12 Feb 2020</time>
		<div class="blog-card-type-item">Design, Pattern</div>
	</div>
	<p class="blog-card-content">
		Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
	</p>
</article>