<div class="featured-card-content-detail">
	<time class="featured-card-content-detail-date featured-card-content-detail-info">{{date}}</time>
	<a href="work-list.html" class="featured-card-content-detail-title featured-card-content-detail-info">{{category}}</a>
</div>