.hero {
	display: flex;
	align-items: center;
	min-height: calc(100vh - #{$header-height});
	text-align: center;
	padding-right: $offset;
	padding-left: $offset;
	margin-bottom: 58px;

	@include mq() {
		min-height: auto;
		margin-bottom: 71px;
	}


	&-wrapper {
		display: flex;
		flex-direction: column;

		@include mq() {
			flex-direction: row-reverse;
		}
	}

	&-photo {
		margin-bottom: 34px;
		position: relative;
		width: 180px;
		height: 180px;
		border-radius: 100%;
		align-self: center;

		@include mq() {
			min-width: 243px;
			height: 243px;
			margin-left: 115px;
			align-self: flex-start;
		}

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: $color-light-blue;
			position: absolute;
			top: 13px;
			left: -5px;
			z-index: -1;
			border-radius: 100%;
		}
	}

	&-content {

		@include mq() {
			text-align: left;
		}

		&-title {
			font-weight: bold;
			font-size: 2em;
			line-height: 1.25;
			margin-bottom: $offset-top-bottom;

			@include mq() {
				font-size: 2.75em;
				line-height: 1.37;
				margin-bottom: 40px;
			}
		}

		&-explanation {
			margin-bottom: $offset-top-bottom;
			line-height: 1.5;

			@include mq() {
				font-size: 1.13em;
				line-height: 1.33;
				margin-bottom: 47px;
			}
		}

	}

}

.blog {
	background-color: $color-light-blue;
	padding-bottom: 32px;
	padding-top: 30px;

	&-title {
		text-align: center;
		margin-bottom: $offset-top-bottom;

		@include mq() {
			margin-bottom: 32px;
			display: flex;
			justify-content: space-between;
		}

		&-title {
			font-size: 1.13em;

			@include mq() {
				font-size: 1.38em;
			}
		}

		&-link {
			display: none;
			color: $color-blue-link;

			@include mq() {
				display: block;
			}
		}
	}

	&-card-wrapper {
		display: grid;
		grid-row-gap: 18px;

		@include mq() {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 20px;
		}
	}
}

.featured {
	padding-right: 3px;
	padding-left: 8px;
	display: flex;
	flex-direction: column;


	@include mq() {
		padding-right: 0px;
		padding-left: 0px;
	}

	&-wrapper {
		display: grid;
		grid-row-gap: 20px;
	}

	&-title {
		display: inline-block;
		padding-top: $offset-top-bottom;
		font-size: 1.13em;
		margin-bottom: $offset-top-bottom;
		text-align: center;

		@include mq() {
			padding-top: 30px;
			margin-bottom: 32px;
			text-align: left;
			font-size: 1.38em;
		}
	}

}