{% layout "master" %}

{% block content %}

<section class="blog-detail">
	<div class="container">
		<h1 class="blog-detail-title">Designing Dashboards with usability in mind</h1>
		{% include "blog-meta" with date: "2021" category: "Customer Management System" %}
		<div class="wysiwyg">
			<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			<img src="img/photo-sect-1.png" alt="Blog Fotoğrafı">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsum ratione assumenda porro dolorem. Obcaecati, quibusdam quod. Consequuntur tempore perspiciatis distinctio eaque aut veniam corporis reiciendis incidunt maiores quia! Nulla deserunt quam aperiam sed magnam consequuntur voluptas velit eaque, adipisci tempore eius, quos dignissimos!</p>
			<h2>Heading 2</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iusto officia incidunt impedit repellat consequatur laborum cum ipsa ullam rerum facilis doloremque animi eius asperiores, nisi, quod itaque voluptate voluptatem unde eligendi deserunt.</p>
			<ul>
				<li>
					List item1
				</li>
				<li>
					List item2
				</li>
			</ul>
		</div>
	</div>
</section>

{% endblock %}